:root {
    --color-principal: #E3A296; 
    --color-secundario: #E7DCDC;  
    --color-texto: #000000;
    --color-border: #666;
    --color-hover: #d9897d;      
    --fuente: 'Arial', sans-serif;
}

body {
    background: white !important;
    font-family: var(--fuente);
}

/* CONTENEDOR GENERAL */
.contenedor-recetas {
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 0 10px #ccc;
}

/* TITULO SECCION */
.titulo-seccion {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.subtitulo-seccion {
    text-align: center;
    margin-bottom: 20px;
}

/* TABLA */
.contenedor-tabla {
    margin-top: 20px;
}

.tabla-recetas {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tabla-recetas th,
.tabla-recetas td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.tabla-recetas th {
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
}

.tabla-recetas tr:hover {
    background-color: var(--color-hover);
    color: white;
}

/* BOTON VER */
.btn-ver {
    background: #007bff;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.btn-ver:hover {
    background: #0056b3;
}
