.contenedor-receta {
    background: white;
    padding: 30px;
    width: 800px;
    margin: 40px auto;
    border-radius: 12px;

    border: 2px solid var(--color-border);  /* borde más definido */
    box-shadow: 0 0 15px rgba(0,0,0,0.18);   /* sombra un poco más fuerte */
}

.titulo {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitulo {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.btn-descargar {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 18px;
    background: #007bff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.btn-descargar:hover {
    background: #0056b3;
}
